In [3]:
import pandas as pd
import numpy as np

In [20]:
path = 'BCD1.csv'
df = pd.read_csv(path)
df = df[['Common State Abbreviation', 'Rural Status Description', 'HPSA Postal Code', 'Provider Type', 'Common County Name', 'HPSA Degree of Shortage', 'HPSA Designation Population', 'HPSA Estimated Served Population', 'HPSA Score', 'HPSA Shortage']]
#df = df.dropna(how='all')
#df.count()
#df.sort_values('HPSA Shortage')
df.to_csv('HSPA_Data1.csv')
df.head()

,Common State Abbreviation,Rural Status Description,HPSA Postal Code,Provider Type,Common County Name,HPSA Degree of Shortage,HPSA Designation Population,HPSA Estimated Served Population,HPSA Score,HPSA Shortage
0,VI,Rural,NaN,NaN,"St. John, VI",Not applicable,57514.0,NaN,0,NaN
1,VI,Rural,NaN,NaN,"St. Thomas, VI",Not applicable,57514.0,NaN,0,NaN
2,VI,Rural,00802-1736,NaN,"St. Thomas, VI",NaN,NaN,NaN,15,0.00
3,VI,Rural,00840,NaN,"St. Croix, VI",NaN,NaN,NaN,22,0.00
4,VI,Rural,NaN,Psychiatrist / Core Mental Health,"St. Thomas, VI",Not applicable,50153.0,33660.0,14,3.67

In [21]:
path2 = 'NSDUH_2008.tsv'
df2 = pd.DataFrame()
df2 = pd.read_csv(path2, sep='\t')
df2.head()

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,IIEMPST4,II2EMST4,PRXYDATA,MAIIN002,PDEN00,COUTYP2,ANALWT_C,MHSAWT_C,VESTR,VEREP
0,27895143,09/07/2018,1,99,99,16,9999,99,2,93,...,1,1,99,2,1,1,1274.993709,2477.396427,30044,1
1,65095143,09/07/2018,1,99,99,16,9999,99,3,93,...,1,1,99,2,1,1,550.369228,2153.538551,30023,2
2,56705143,09/07/2018,1,99,99,19,9999,99,1,97,...,1,1,94,2,2,3,6043.408157,9236.231742,30008,2
3,75805143,09/07/2018,2,4,4,991,9991,91,91,91,...,9,9,1,2,2,2,262.243865,0.000000,30039,2
4,11825143,09/07/2018,2,99,99,991,9991,91,91,91,...,1,1,99,2,1,1,8354.252204,15403.794517,30050,2

In [22]:
df2[['QUESTID2','ALCYRTOT','ALCDAYS','MJYRTOT','MJDAY30A','COCYRTOT','COCUS30A','CRKYRTOT','CRKUS30A','HERYRTOT','HER30USE']]

,QUESTID2,ALCYRTOT,ALCDAYS,MJYRTOT,MJDAY30A,COCYRTOT,COCUS30A,CRKYRTOT,CRKUS30A,HERYRTOT,HER30USE
0,27895143,52,30,993,93,991,91,991,91,991,91
1,65095143,300,3,312,4,991,91,991,91,991,91
2,56705143,991,91,991,91,991,91,991,91,991,91
3,75805143,991,91,991,91,991,91,991,91,991,91
4,11825143,4,85,991,91,991,91,991,91,991,91
5,96135143,991,91,991,91,991,91,991,91,991,91
6,88265143,144,6,365,30,993,93,991,91,991,91
7,87365143,991,91,991,91,991,91,991,91,991,91
8,77985143,991,91,991,91,991,91,991,91,991,91
9,78406143,991,91,991,91,991,91,991,91,991,91
10,45706143,993,93,991,91,991,91,991,91,991,91
11,29116143,312,8,993,93,991,91,991,91,991,91
12,44236143,104,8,1,93,991,91,991,91,991,91
13,16036143,36,2,993,93,991,91,991,91,991,91
14,25136143,208,12,993,93,991,91,991,91,991,91
15,75846143,36,93,991,91,991,91,991,91,991,91
16,19256143,991,91,991,91,991,91,991,91,991,91
17,41486143,104,8,991,91,991,91,991,91,991,91
18,80727143,991,91,991,91,991,91,991,91,991,91
19,77837143,25,93,993,93,991,91,991,91,991,91
20,77357143,991,91,991,91,991,91,991,91,991,91
21,48067143,52,2,991,91,991,91,991,91,991,91
22,62287143,993,93,991,91,991,91,991,91,991,91
23,97308143,993,93,991,91,991,91,991,91,991,91
24,84228143,120,10,156,20,991,91,991,91,991,91
25,42428143,991,91,991,91,991,91,991,91,991,91
26,77928143,998,98,991,91,991,91,991,91,991,91
27,34038143,991,91,991,91,991,91,991,91,991,91
28,79248143,3,1,991,91,991,91,991,91,991,91
29,35078143,72,93,2,93,991,91,991,91,991,91
...,...,...,...,...,...,...,...,...,...,...,...
55080,27921730,52,2,993,93,993,93,991,91,991,91
55081,35931730,52,2,998,98,991,91,991,91,991,91
55082,33841730,104,1,12,93,991,91,991,91,991,91
55083,45451730,991,91,991,91,991,91,991,91,991,91
55084,99861730,12,1,991,91,991,91,991,91,991,91
55085,37492730,104,22,991,91,991,91,991,91,991,91
55086,85692730,36,3,991,91,991,91,991,91,991,91
55087,61802730,2,93,991,91,991,91,991,91,991,91
55088,79142730,7,3,993,93,991,91,991,91,991,91
55089,75162730,19,3,991,91,991,91,991,91,991,91
55090,29193730,991,91,991,91,991,91,991,91,991,91
55091,93503730,60,2,991,91,991,91,991,91,991,91
55092,71323730,4,1,993,93,991,91,991,91,991,91
55093,20423730,991,91,991,91,991,91,991,91,991,91
55094,97723730,60,1,11,93,991,91,991,91,991,91
55095,45923730,993,93,993,93,993,93,991,91,991,91
55096,54833730,993,93,993,93,991,91,991,91,991,91
55097,36963730,991,91,991,91,991,91,991,91,991,91
55098,47294730,24,3,993,93,991,91,991,91,991,91
55099,99094730,8,93,993,93,993,93,991,91,991,91
55100,72504730,36,3,60,2,991,91,991,91,991,91
55101,37004730,993,93,991,91,991,91,991,91,991,91
55102,71414730,156,20,993,93,993,93,991,91,991,91
55103,44114730,48,3,12,3,991,91,991,91,991,91
55104,23024730,104,6,104,7,991,91,991,91,991,91
55105,17434730,52,93,991,91,991,91,991,91,991,91
55106,51364730,998,98,260,15,991,91,991,91,991,91
55107,77574730,208,16,300,93,991,91,991,91,991,91
55108,55774730,72,5,991,91,991,91,991,91,991,91
55109,85584730,991,91,991,91,991,91,991,91,991,91

In [4]:
path3 = 'Death_Cause.csv'
df3 = pd.read_csv(path3)
#df3 = df3.groupby('113 Cause Name')
df3

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1
5,2009,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,29,4.4
6,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,South Dakota,49,4.5
7,2015,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,4.5
8,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,37,4.5
9,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,374,4.9
10,2015,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,34,4.9
11,2001,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,279,5.0
12,1999,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.1
13,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
14,2016,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,40,5.2
15,2006,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,30,5.2
16,2002,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,31,5.2
17,2003,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,304,5.3
18,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,43,5.4
19,2008,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,39,5.4
20,2002,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,306,5.4
21,2000,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,293,5.4
22,2005,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,33,5.4
23,2015,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,458,5.5
24,2004,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,33,5.5
25,2011,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,395,5.6
26,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,South Dakota,58,5.6
27,2011,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,37,5.6
28,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,487,5.7
29,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,414,5.7
...,...,...,...,...,...,...
10266,2002,All Causes,All causes,West Virginia,21016,999.0
10267,2006,All Causes,All causes,Mississippi,28564,999.1
10268,2001,All Causes,All causes,West Virginia,20967,1000.9
10269,2005,All Causes,All causes,Alabama,47090,1001.3
10270,2001,All Causes,All causes,Alabama,45316,1002.1
10271,2003,All Causes,All causes,West Virginia,21306,1003.1
10272,1999,All Causes,All causes,Kentucky,39321,1004.1
10273,2000,All Causes,All causes,Alabama,45062,1004.8
10274,2000,All Causes,All causes,Louisiana,41138,1006.3
10275,2002,All Causes,All causes,Louisiana,41984,1008.5
10276,1999,All Causes,All causes,Alabama,44806,1009.3
10277,2002,All Causes,All causes,Kentucky,40697,1009.7
10278,2000,All Causes,All causes,West Virginia,21114,1011.1
10279,1999,All Causes,All causes,West Virginia,21049,1012.3
10280,2001,All Causes,All causes,Louisiana,41757,1013.1
10281,2002,All Causes,All causes,Alabama,46069,1013.4
10282,2003,All Causes,All causes,Louisiana,42719,1013.7
10283,2003,All Causes,All causes,Alabama,46716,1020.2
10284,1999,All Causes,All causes,Louisiana,41238,1021.6
10285,2005,All Causes,All causes,Louisiana,44355,1023.7
10286,2005,All Causes,All causes,Mississippi,29196,1028.7
10287,2003,All Causes,All causes,Mississippi,28489,1031.6
10288,2002,All Causes,All causes,District of Columbia,5851,1034.1
10289,2001,All Causes,All causes,Mississippi,28259,1034.3
10290,1999,All Causes,All causes,Mississippi,28185,1043.4
10291,2001,All Causes,All causes,District of Columbia,5951,1049.9
10292,2002,All Causes,All causes,Mississippi,28853,1051.6
10293,2000,All Causes,All causes,Mississippi,28654,1051.9
10294,2000,All Causes,All causes,District of Columbia,6001,1061.2
10295,1999,All Causes,All causes,District of Columbia,6076,1087.3

In [24]:
path4 = 'Unemployment.csv'
df4 = pd.read_csv(path4)
df4 = df4[['State', 'Area_name', 'FIPS', 'Unemployment_rate_2015', 'Unemployment_rate_2016', 'Unemployment_rate_2017', 'Unemployment_rate_2018']]
df4.to_csv('Unemployment_munged_DJ1.csv')
df4.head()

,State,Area_name,FIPS,Unemployment_rate_2015,Unemployment_rate_2016,Unemployment_rate_2017,Unemployment_rate_2018
0,US,United States,0,5.3,4.9,4.4,3.9
1,AL,Alabama,1000,6.1,5.8,4.4,3.9
2,AL,"Autauga County, AL",1001,5.2,5.1,3.9,3.6
3,AL,"Baldwin County, AL",1003,5.5,5.3,4.1,3.6
4,AL,"Barbour County, AL",1005,8.9,8.3,5.8,5.2

In [25]:
path5 = 'PovertyEstimates.csv'
df5 = pd.read_csv(path5)
df5 = df5[['State', 'Area_Name', 'POVALL_2017', 'MEDHHINC_2017', 'PCTPOV04_2017']]

df5.to_csv('PovertyEstimates_Munged_DJ1.csv')

df5.head()

  State       Area_Name POVALL_2017 MEDHHINC_2017  PCTPOV04_2017
0    US   United States  42,583,651        60,336           20.2
1    AL         Alabama     802,263        48,193           27.7
2    AL  Autauga County       7,390        58,343            NaN
3    AL  Baldwin County      21,199        56,607            NaN
4    AL  Barbour County       7,414        32,490            NaN

In [27]:
path6 = 'NSDUH_2015.csv'
df6 = pd.DataFrame()
df6 = pd.read_csv(path6)
df6.head()

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,201500001,AL,1,1,1,0,1,1,0,0,...,1,0,1,0,1,0,0,0,1,0
1,201500002,AL,1,1,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,201500003,AL,1,1,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,201500004,AL,1,1,1,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,201500005,AL,1,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,-1,0

In [29]:
path7 = 'NSDUH_2016.tsv'
df7 = pd.DataFrame()
df7 = pd.read_csv(path7, sep='/t')
df7.head()

C:\Users\DJ\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (2506) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,QUESTID2,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,11635143,02/28/2018,1,99,99,16,9999,99,4,93,...,3.0,2,2,3,3,2,2,819.434247,40037,2
1,36845143,02/28/2018,1,99,99,15,9999,99,1,7,...,3.0,1,2,2,2,2,2,280.624352,40013,2
2,35755143,02/28/2018,1,99,99,26,9999,99,1,7,...,2.0,2,2,1,1,2,2,10133.833583,40036,2
3,94475143,02/28/2018,2,4,4,991,9991,91,91,91,...,3.0,2,2,1,1,2,2,2284.717175,40028,1
4,92675143,02/28/2018,1,99,99,5,9999,99,4,93,...,3.0,2,2,1,1,2,2,24815.892373,40009,2

In [30]:
df7[['QUESTID2','ALCYRTOT','ALCDAYS','MJYRTOT','MJDAY30A','COCYRTOT','COCUS30A','CRKYRTOT','CRKUS30A','HERYRTOT','HER30USE']]

,QUESTID2,ALCYRTOT,ALCDAYS,MJYRTOT,MJDAY30A,COCYRTOT,COCUS30A,CRKYRTOT,CRKUS30A,HERYRTOT,HER30USE
0,11635143,10,10,993,93,991,91,991,91,991,91
1,36845143,9,93,2,93,10,93,10,93,8,93
2,35755143,993,93,991,91,991,91,991,91,991,91
3,94475143,991,91,991,91,991,91,991,91,991,91
4,92675143,10,2,993,93,993,93,991,91,991,91
5,59596143,7,93,991,91,991,91,991,91,991,91
6,41106143,991,91,991,91,991,91,991,91,991,91
7,96416143,72,7,991,91,991,91,991,91,991,91
8,73716143,991,91,993,93,991,91,991,91,991,91
9,76226143,991,91,991,91,991,91,991,91,991,91
10,99926143,104,2,208,30,993,93,993,93,991,91
11,39446143,20,93,993,93,991,91,991,91,991,91
12,14946143,991,91,991,91,991,91,991,91,991,91
13,61056143,104,8,993,93,991,91,991,91,991,91
14,55466143,991,91,991,91,991,91,991,91,991,91
15,83666143,156,18,993,93,991,91,991,91,991,91
16,71866143,156,10,993,93,991,91,991,91,991,91
17,60397143,2,93,993,93,991,91,991,91,991,91
18,59497143,260,25,993,93,991,91,991,91,991,91
19,75227143,52,3,360,30,993,93,993,93,993,93
20,68927143,991,91,991,91,991,91,991,91,991,91
21,31437143,991,91,991,91,991,91,991,91,991,91
22,89637143,3,3,991,91,991,91,991,91,991,91
23,21957143,12,2,360,25,991,91,991,91,991,91
24,29587143,24,1,991,91,991,91,991,91,991,91
25,75987143,15,3,993,93,993,93,991,91,991,91
26,43328143,12,1,991,91,991,91,991,91,991,91
27,30438143,991,91,991,91,991,91,991,91,991,91
28,64038143,24,93,260,20,991,91,991,91,991,91
29,63899143,36,5,96,4,991,91,991,91,991,91
...,...,...,...,...,...,...,...,...,...,...,...
56867,43370730,994,25,991,91,991,91,991,91,991,91
56868,15791730,1,93,991,91,991,91,991,91,991,91
56869,91901730,991,91,991,91,991,91,991,91,991,91
56870,13321730,156,10,2,93,993,93,991,91,991,91
56871,33271730,991,91,991,91,991,91,991,91,991,91
56872,94171730,991,91,991,91,991,91,991,91,991,91
56873,30192730,991,91,991,91,991,91,991,91,991,91
56874,19002730,36,2,991,91,991,91,991,91,991,91
56875,15212730,156,13,993,93,991,91,991,91,991,91
56876,81372730,991,91,991,91,991,91,991,91,991,91
56877,85972730,991,91,991,91,991,91,991,91,991,91
56878,47582730,991,91,991,91,991,91,991,91,991,91
56879,15782730,156,7,364,30,5,93,991,91,993,93
56880,53982730,120,93,991,91,991,91,991,91,991,91
56881,77393730,991,91,991,91,991,91,991,91,991,91
56882,22893730,991,91,993,93,991,91,991,91,991,91
56883,81993730,156,15,991,91,991,91,991,91,991,91
56884,39193730,993,93,991,91,991,91,991,91,991,91
56885,19903730,991,91,991,91,991,91,991,91,991,91
56886,75443730,40,2,991,91,991,91,991,91,991,91
56887,70943730,991,91,991,91,991,91,991,91,991,91
56888,37863730,12,93,991,91,991,91,991,91,991,91
56889,25063730,991,91,991,91,991,91,991,91,991,91
56890,21273730,12,2,993,93,991,91,991,91,991,91
56891,65683730,1,1,991,91,991,91,991,91,991,91
56892,42983730,991,91,991,91,991,91,991,91,991,91
56893,65494730,36,3,260,93,991,91,991,91,991,91
56894,43694730,120,6,993,93,991,91,991,91,991,91
56895,45014730,991,91,991,91,991,91,991,91,991,91
56896,53354730,991,91,991,91,991,91,991,91,991,91

NameError: name 'df8' is not defined